<div class="container">
  <h2>Current User: <%= current_user.email if current_user%></h2>

  </br>
  <% for @user in @users %>
    <div class="row">
      <div class="col-md-4"><h4><%= @user.email%></h4></div>
      <div class="col-md-4">
        <button class="btn btn-primary loginButton">Login</button>
      </div>
    </div>
  <% end %>

  <hr>
  <div class="row">
    <div class="col-md-4">
      <button  class="btn btn-danger" id="logout">Logout</button>
    </div>
  </div>

  <hr>

  <div class="row">
    <form enctype="multipart/form-data" action="/upload" method="post">

      <label for="attachment">Choose file</label>
      <div class="input-group">
        <input name="attachment" type="file" class="form-control"/>
      </div>
      <br/>

      <label for="user">Choose User to download</label>
      <div class="input-group">
        <select id="user_id" name="user_id">
          <% for @user in @users %>
          <option value="<%= @user.id %>"><%= @user.email %></option>
          <% end %>
        </select>
      </div>
      <br/>
      <div class="input-group">
        <input type="submit" value="Upload" />
      </div>
    </form>
  </div>

</div>
