<div class="container">
  <h2>Current User: <%= current_user.email if current_user%></h2>

  </br>
  <% for @user in @u %>
    <div class="row">
      <div class="col-md-4"><h4><%= @user.email%></h4></div>
      <div class="col-md-4">
        <button class="btn btn-primary loginButton">Login</button>
      </div>
    </div>
  <% end %>

  <hr>
  <div class="row">
    <div class="col-md-4">
      <button  class="btn btn-danger" id="logout">Logout</button>
    </div>
  </div>
</div>
