<br/>
<hr/>
<div class="container">
  <div class="row">
    <form enctype="multipart/form-data" action="/upload" method="post">

      <label for="attachment">Choose file</label>
      <div class="input-group">
        <input name="attachment" type="file" class="form-control"/>
      </div>
      <br/>

      <label for="user">Choose User to download</label>
      <div class="input-group">
        <select id="user_id" name="user_id">
          <% for @user in @users %>
          <option value="<%= @user.id %>"><%= @user.email %></option>
          <% end %>
        </select>
      </div>
      <br/>
      <div class="input-group">
        <input type="submit" value="Upload" />
      </div>
    </form>
  </div>

</div>
